<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin-dashboard</h1>
  </header>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product Catalogue</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan="2">All products</th>
          <td>
            <a href="/admin/products">
            <%= @allproducts %></a>
          </td>
        </tr>
        <tr>
          <th colspan="2">All categories</th>
          <td>
            <a href="/">
            <%= @allcategories %></a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</section>
